
@{
    ViewBag.Title = "Keep In Touch";
}

<div class="row">
    <div class="container">
        <div class="pageTitle"> <h1>Keep In Touch</h1></div>
    </div>

    <div class="container-fluid margin-bottom-20">
        <div class="content-para margin-top-20">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1979.4023306746885!2d80.07454734708492!3d7.148572022916421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2fd39d62a6663%3A0xa36818676c283eff!2sSanjeewaka+Ayurvedic+Products+(PVT)Ltd!5e0!3m2!1sen!2slk!4v1488474025249" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container margin-bottom-50">
        <div class="content-para margin-top-20">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding-left-right">
                    <h1 class="padding-left-10">Contact Us</h1>
                    <form role="form">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="form-group-input">Name</label>
                                <input type="text" name="txtName" class="form-control" id="txtName" placeholder="Your Name" required>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="form-group-input">Email Address</label>
                                <input type="email" name="txtName" class="form-control" id="txtEmail" placeholder="Your Email Address" required>
                            </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="form-group-input">Subject</label>
                                <input type="text" name="txtName" class="form-control" id="txtSubject" placeholder="Subject of Your Message" required">
                            </div>
                        </div>
                        

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="form-group-input">Message</label>
                                <textarea name="txtMessage" class="form-control" id="txtMessage" placeholder="Your Message" required rows="10"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>

                    </form>
                </div>


                

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                    
                    <div class="margin-top-50">
                        <h4 class="heading-primary mt-lg">Get in <strong>Touch</strong></h4>
                        <p class="text-justify">Contact us for any kind of websites or web solutions. We guarantee the lowest price with creative, quality website. Call us or  mail us your queries. Or else you can fill this quick contact form and send your requirement. One of our team member will contact you within 24 hours.</p>

                        <hr>

                        <h4 class="heading-primary">The <strong>Office</strong></h4>
                        <ul class="list-no-style">
                            <li><span class="glyphicon glyphicon-map-marker padding-right-10"></span> <strong>Address : </strong> Sanjeewaka Ayurwedic Products, Veyangoda, Gampaha, Sri Lanka.</li>
                            <li><span class="glyphicon glyphicon-phone-alt padding-right-10"></span> <strong>Phone : </strong> (+94) 11 250 6831</li>
                            <li><span class="glyphicon glyphicon-phone padding-right-10"></span> <strong>Hotline : </strong> (+94) 11 5 685 685</li>
                            <li><span class="glyphicon glyphicon-envelope padding-right-10"></span> <strong>Email : </strong> <a href="">info@chandanalepa.lk</a></li>
                        </ul>

                        <hr>

                        <h4 class="heading-primary">Business <strong>Hours</strong></h4>
                        <ul class="list-no-style">
                            <li><span class="glyphicon glyphicon-time padding-right-10"></span> Monday - Friday - 9am to 5pm</li>
                            <li><span class="glyphicon glyphicon-time padding-right-10"></span> Saturday - 9am to 2pm</li>
                            <li><span class="glyphicon glyphicon-time padding-right-10"></span> Sunday - Closed</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
   



