
@{
    ViewBag.Title = "Upload Your Resume";
}

<div class="row">
    <div class="container">

        <div class="pageTitle"> <h1>Upload Your Resume Here</h1></div>
        <div class="content-para margin-top-20">

        </div>
    </div>
</div>
    


