
@{
    ViewBag.Title = "Media Room";
}
<link href="~/Content/MediaRoom.css" rel="stylesheet" />
<div class="row">
    <div class="container">

        <div class="pageTitle"> <h1>News & Media Room</h1></div>

        <!-- Video Section 01 -->
        <div class="content-para margin-top-20">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <div>
                            <iframe width="540" height="303" src="https://www.youtube.com/embed/Vse7Vug2Xbg" frameborder="0" allowfullscreen></iframe>
                        </div>
                        
                        <div>
                            <h2>The Largest Mobile Beauty Clinic</h2>
                        </div>
                        <div>
                            <p>
                               Chandanalepa has the largest mobile beaity clinic in south asia. We will come to your working place upon your request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <iframe width="540" height="303" src="https://www.youtube.com/embed/LlirijIoaCg" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div>
                        <h2>#01 Auyrvedic Cosmetic in Sri Lanka</h2>
                    </div>
                    <div>
                        <p>
                            Chandanalepa Herbal Cream is the most populer and the best ayurwedic cosmatic in Sri Lanka.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <iframe width="540" height="303" src="https://www.youtube.com/embed/YVaPu8SBTNA" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div>
                        <h2>Chandanalepa Broom Broom TV Commercial</h2>
                    </div>
                    <div>
                        <p>
                            We value our customers always. Chandanalepa Broom Broom is a raffle draw for chandanalepa customers.
                        </p>
                    </div>
                </div>
            </div>                

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <iframe width="540" height="303" src="https://www.youtube.com/embed/jl7baln6zY8" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div>
                        <h2>Chandanalepa Moisturizing Body Lotion</h2>
                    </div>
                    <div>
                        <p>
                            Chandanalepa Moisturizing Body Lotion is the best body lotion you find not only in Sri Lanka but also in the world.
                        </p>
                    </div>
                </div>
            </div>           
        </div>
        <!-- Video Section 01 -->
    </div>

            <!-- Awards -->

    <div class="container-fluid archivementContainer margin-bottom-50">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row container content-bg">
                    <div class="content-para">
                        <h1 class="text-center">Our Archivements</h1>
                        <h3 class="margin-top-0 text-center">Only few awards won by us. ...</h3>
                        <div class="row margin-top-20">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement">
                                            <h4 class="text-center">Best Young Entrepreneur</h4>
                                            <div>
                                                <img src="~/Images/Awards/Best Young Entrepreneur - 2011 Gampaha Distric.jpg" class="img-rounded img-full" alt="Best Young Entrepreneur - 2011 Gampaha Distric" title="Best Young Entrepreneur - 2011 Gampaha Distric" />
                                            </div>
                                            <p class="text-center">
                                                Best Young Entrepreneur, Gampaha Distric - 2011
                                            </p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement">
                                            <h4 class="text-center">Best Young Entrepreneur</h4>
                                            <div>
                                                <img src="~/Images/Awards/Best Young Entrepreneur - 2011.jpg" class="img-rounded img-full" alt="Best Young Entrepreneur - 2011" title="Best Young Entrepreneur - 2011" />
                                            </div>
                                            <p class="text-center">
                                                Best Young Entrepreneur - In 2011
                                            </p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement">
                                            <h4 class="text-center">Mass Lanka Awards</h4>
                                            <div>
                                                <img src="~/Images/Awards/MASS LANKA AWARDS.jpg" class="img-rounded img-full" alt="Mass Lanka Awards" title="Mass Lanka Awards" />
                                            </div>
                                            <p class="text-center">
                                                Mass Lanka Awards - In 2013
                                            </p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement">
                                            <h4 class="text-center">SED <br /> Awards</h4>
                                            <div>
                                                <img src="~/Images/Awards/SED Awards - Gold Award.jpg" class="img-rounded img-full" alt="SED Awards - Gold Award" title="SED Awards - Gold Award" />
                                            </div>
                                            <p class="text-center">
                                                SED Awards -  In 2014
                                            </p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement" style="float:left !important">
                                            <h4 class="text-center">SLIM SME Sliver Brand Of the Year</h4>
                                            <div>
                                                <img src="~/Images/Awards/SLIM SME Sliver Brand Of the Year.jpg" class="img-rounded img-full" />
                                            </div>
                                            <p class="text-center">
                                                SLIM SME Sliver - Brand Of the Year 2014
                                            </p>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 singleArchivement">
                                            <h4 class="text-center">Best Exhibitor - 2015</h4>
                                            <div>
                                                <img src="~/Images/Awards/Ayurveda-expo-2015.jpeg" class="img-rounded img-full" alt="Best Exhibitor 2015- National chamber of commerce of Sri Lanka" title="Best Exhibitor 2015- National chamber of commerce of Sri Lanka" />
                                            </div>
                                            <p class="text-center">
                                                National chamber of commerce Sri Lanka - 2015
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- End Of Awards -->

    <div class="container">
        <!-- Video Section 02 -->
        <div class="content-para margin-top-20">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <div>
                            <iframe width="540" height="303" src="https://www.youtube.com/embed/aoHFooE2ZoI" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <div>
                            <h2>Chandanalepa Herbal Cream</h2>
                        </div>
                        <div>
                            <p>
                                The most popular herbal cream you will find in Sri Lanka.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <iframe width="540" height="303" src="https://www.youtube.com/embed/zZqDxdJhuCA" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div>
                        <h2>Hebahinda Me by Sanka Dineth</h2>
                    </div>
                    <div>
                        <p>
                            Habahinda Me , Chandanalepa theme song by Sanka Dinith in 2015.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                        <iframe width="540" height="303" src="https://www.youtube.com/embed/S6fV-uT-sMs" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div>
                        <h2>Chandanalepa Facewash</h2>
                    </div>
                    <div>
                        <p>
                            Chandanalepa Kohomba and Komarika Herbal Face Wash.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                <div class="mediaContainer">
                    <div>
                            <iframe width="540" height="303" src="https://www.youtube.com/embed/s5QuhM-eWuM" frameborder="0" allowfullscreen></iframe>
                       
                    </div>
                    <div>
                        <h2>Chandanalepa Tv Commertial</h2>
                    </div>
                    <div>
                        <p>
                            Chandanalepa Herbal Cream TV Commercial in 2013.
                        </p>
                    </div>
                </div>
            </div>

          
        </div>
        <!-- Video Section 02 -->
    </div>

</div>




