 /* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .product {
        height: 500px;
    }

    .header .logo {
        width: 300px !important;
        margin: 0 auto !important;
    }

    .deal-row h3 {
        font-weight: 600;
        font-size: 20px;
    }

    .shortDescriptionArea {
        display: block;
        margin-top: 15px;
    }

    .sideHomePageSldierSideBanners {
        margin-top: 15px !important;
        padding:0px !important;
    }
}
