.mediaContainer{
    border-bottom:solid 2px #c1c1c1;
}

.row .archivementContainer{
    background-color:#f2f2f2 !important;
   border-top:solid 5px #ffd800;
   border-bottom:solid 10px #ff6a00;
}
.singleArchivement{


}
